
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
}

.main {
    background: linear-gradient(#94c9d2, white);
    height: 100vh;
}

.uploadCont {
    display: flex;
    justify-content: center;
}

.showModalButton {
    cursor: pointer;
    background: #6e6d6d;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 15px;
    box-shadow: 0 0 0px 0px;
    position: fixed;
    top: 90px;
}

.showModalButton:hover {
    box-shadow: 0 0 7px 1px;
    background: #4c4b4b;
    transition: background 1s;
}

.imageGrid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto ;
    grid-gap: 40px;
    padding: 60px 30px;
}

.image-div {
    border: 5px solid black;
    width: 200px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px;
}

.image {
    width: 100%;
    height: 76%;
}

.image-div h2 {
    text-align: center;
    background: #15f358;
    width: 100%;
    border-top: 1px solid black;
    font-size: 20px;
    padding: 2px;
}

.image-div button {
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    padding: 5px 10px;
    border: none;
    background: rgb(245, 69, 69);
    color: white;
    border-top: 1px solid black;
}

.image-div button:hover {
    background: rgb(243, 8, 8);
    transition: background 1s;
} 